.ticketContainer {
  max-width: 975px;
  padding: 10px;
  border-radius: 5px;
  background: #fed;
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  border: solid #dab78d 2px;
}

.ticketCell {
  background: #1cc51c;
  color: #fff;
  width: 40px;
  display: inline-block;
  text-align: center;
  margin: 2px;
  border-radius: 5px;
  cursor: default;
  height: 30px;
  vertical-align: middle;
  border: solid 1px #008800;
  line-height: 28px;
}

.bought {
  background: #c00 !important;
  border: solid 1px #880000;
}

.selected {
      background: #004cbf !important;
      border: solid 1px #000088;
}
